---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRole
metadata:
  name: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_namespace }}
    app.kubernetes.io/part-of: {{ ingress_nginx_namespace }}
rules:
  - apiGroups: [""]
    resources: ["configmaps", "endpoints", "nodes", "pods", "secrets"]
    verbs: ["list", "watch"]
  - apiGroups: [""]
    resources: ["nodes"]
    verbs: ["get"]
  - apiGroups: [""]
    resources: ["services"]
    verbs: ["get", "list", "watch"]
  - apiGroups: ["extensions"]
    resources: ["ingresses"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["events"]
    verbs: ["create", "patch"]
  - apiGroups: ["extensions"]
    resources: ["ingresses/status"]
    verbs: ["update"]

---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: ClusterRoleBinding
metadata:
  name: {{ ingress_nginx_namespace }}
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_namespace }}
    app.kubernetes.io/part-of: {{ ingress_nginx_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ ingress_nginx_namespace }}
subjects:
  - kind: ServiceAccount
    name: {{ ingress_nginx_namespace }}
    namespace: {{ ingress_nginx_namespace }}
