---
apiVersion: v1
kind: ConfigMap
metadata:
  name: tcp-services
  namespace: {{ ingress_nginx_namespace }}
  labels:
    app.kubernetes.io/name: {{ ingress_nginx_namespace }}
    app.kubernetes.io/part-of: {{ ingress_nginx_namespace }}
{% if ingress_nginx_configmap_tcp_services %}
data:
  {{ ingress_nginx_configmap_tcp_services | to_nice_yaml | indent(2) }}
{%- endif %}
