apiVersion: v1
kind: ServiceAccount
metadata:
  name: prometheus
  namespace: {{ current.app_name }}
---
apiVersion: monitoring.coreos.com/v1
kind: Prometheus
metadata:
  name: prometheus
  namespace: {{ current.app_name }}
spec:
  serviceAccountName: prometheus
  serviceMonitorSelector:
    matchLabels:
      app: servicemonitor
  resources:
    limits:
      cpu: 200m
      memory: 600Mi
    requests:
      cpu: 100m
      memory: 400Mi
  externalUrl: /prometheus-{{ current.app_name }}
  routePrefix: /
  storage:
    volumeClaimTemplate:
      spec:
        storageClassName: rook-ceph-block
        resources:
          requests:
            storage: 5Gi
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: prometheus-ui-ing
  namespace: {{ current.app_name }}
  annotations:
    traefik.ingress.kubernetes.io/rule-type: PathPrefixStrip
  labels:
    traffic-type: external
spec:
  rules:
  - http:
      paths:
      - path: /prometheus-{{ current.app_name }}
        backend:
          serviceName: prometheus-operated
          servicePort: 9090
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: Role
metadata:
  name: prometheus
  namespace: {{ current.app_name }}
rules:
- apiGroups: [""]
  resources:
  - pods
  - services
  - endpoints
  verbs: ["get", "list", "watch"]
- apiGroups: [""]
  resources:
  - configmaps
  verbs: ["get"]
---
apiVersion: rbac.authorization.k8s.io/v1beta1
kind: RoleBinding
metadata:
  name: prometheus
  namespace: {{ current.app_name }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: prometheus
subjects:
- kind: ServiceAccount
  name: prometheus
  namespace: {{ current.app_name }}