---
apiVersion: v1
kind: Namespace
metadata:
  name: {{ current.app_name }}
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources
  namespace: {{ current.app_name }}
spec:
  hard:
    pods: "10"
    cpu: "2"
    memory: 2Gi
    requests.cpu: "1"
    requests.memory: 1Gi
    limits.cpu: "2"
    limits.memory: 2Gi
    configmaps: "10"
    persistentvolumeclaims: "15"
    replicationcontrollers: "0"
    secrets: "10"
    services: "10"
    services.loadbalancers: "0"
    services.nodeports: "0"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: ressources-limit-range
  namespace: {{ current.app_name }}
spec:
  limits:
  - default:
      cpu: 100m
      memory: 100Mi
    defaultRequest:
      cpu: 40m
      memory: 50Mi
    max:
      cpu: 500m
      memory: 800Mi
    min:
      cpu: 5m
      memory: 5Mi
    type: Container
---
# add a PodSecurityPolicy
# add a PodDisruptionBudget