apiVersion: v1
kind: Config
preferences: {}

users:
- name: cicd-{{ k8s_usr.name }}-{{ k8s_usr.cluster }}
  user:
    token: {{ k8s_usr.token }}

clusters:
- cluster:
    server: {{ master_lb_url|default(k8s_usr.endpoint) }}
    insecure-skip-tls-verify: true
  name: {{ k8s_usr.cluster }}

contexts:
- context:
    cluster: {{ k8s_usr.cluster }}
    namespace: {{ k8s_usr.name }}
    user: cicd-{{ k8s_usr.name }}-{{ k8s_usr.cluster }}
  name: cicd-{{ k8s_usr.name }}-{{ k8s_usr.cluster }}

current-context: cicd-{{ k8s_usr.name }}-{{ k8s_usr.cluster }}
