upstream kubernetes_backend {
{% for master in groups['kube-master'] %}
    server {{ hostvars[master].ansible_default_ipv4.address }}:6443;
{% endfor %}
}

server {
    listen 6443;
    proxy_pass kubernetes_backend;
}

upstream kubernetes_insecure_admin {
{% for master in groups['kube-master'] %}
    server {{ hostvars[master].ansible_default_ipv4.address }}:31080;
{% endfor %}
}

server {
    listen 31080;
    proxy_pass kubernetes_insecure_admin;
}

upstream kubernetes_secure_admin {
{% for master in groups['kube-master'] %}
    server {{ hostvars[master].ansible_default_ipv4.address }}:31443;
{% endfor %}
}

server {
    listen 31443;
    proxy_pass kubernetes_secure_admin;
}
